.low-threat {
    color: orange;
}
.medium-threat {
    color: orangered;
}
.high-threat {
    color: red;
    font-weight: bold;
}
.very-high-threat {
    color: red;
    font-weight: bolder;
}